@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fortawesome/fontawesome-svg-core/styles.css';

:root {
  --color-black: oklch(0% 0 0);
  --color-black-raw: 0% 0 0;
  --color-gray: oklch(55.1% 0.023 264.36);
  --color-gray-raw: 55.1% 0.023 264.36;
  --color-white: oklch(100% 0 0);
  --color-white-raw: 100% 0 0;
  --color-metal: oklch(38.75% 0.032 227.85);
  --color-metal-raw: 38.75% 0.032 227.85;
  --color-silver: oklch(77.43% 0.022 204);
  --color-silver-raw: 77.43% 0.022 204;
  --color-steel: oklch(92.76% 0.006 264.53);
  --color-steel-raw: 92.76% 0.006 264.53;
  --color-darkblue: oklch(18% 0.019 274.65);
  --color-darkblue-raw: 18% 0.019 274.65;
  --color-ocean: oklch(52.79% 0.1197 202.84);
  --color-ocean-raw: 52.79% 0.1197 202.84;
  --color-blue: oklch(66.24% 0.2013 249.84);
  --color-blue-raw: 66.24% 0.2013 249.84;
  --color-teal: oklch(86.6% 0.1425 207.16);
  --color-teal-raw: 86.6% 0.1425 207.16;
  --color-celeste: oklch(91.5% 0.1469 182.73);
  --color-celeste-raw: 91.5% 0.1469 182.73;
  --color-green: oklch(80.06% 0.2185 163.81);
  --color-green-raw: 80.06% 0.2185 163.81;
  --color-darkgreen: oklch(59.54% 0.1762 162.87);
  --color-darkgreen-raw: 59.54% 0.1762 162.87;
  --color-yellow: oklch(89.22% 0.1477 88.69);
  --color-yellow-raw: 89.22% 0.1477 88.69;
  --color-gold: oklch(69.2% 0.1323 75.06);
  --color-gold-raw: 69.2% 0.1532 75.06;
  --color-orange: oklch(75% 0.1916 28.13);
  --color-orange-raw: 75% 0.1916 28.13;
  --color-red: oklch(65.88% 0.2905 17.65);
  --color-red-raw: 65.88% 0.2905 17.65;
  --color-purple: oklch(76.76% 0.2666 328.12);
  --color-purple-raw: 76.76% 0.2666 328.12;
  --color-lavender: oklch(65.37% 0.2285 296.63);
  --color-lavender-raw: 65.37% 0.2285 296.63;
  --color-highlight-background: oklch(var(--color-darkblue-raw) / 87.84%);
  --color-highlight-foreground: var(--color-steel);
  --color-highlight-string: var(--color-orange);
  --color-highlight-punctuation: var(--color-silver);
  --color-highlight-boolean: var(--color-blue);
  --color-highlight-number: var(--color-green);
  --color-highlight-function: var(--color-yellow);
  --color-highlight-attribute: var(--color-yellow);
  --color-highlight-property: var(--color-steel);
  --color-highlight-type: var(--color-green);
  --color-highlight-comment: var(--color-ocean);
  --color-highlight-keyword: var(--color-blue);
  --color-highlight-operator: var(--color-teal);
  --color-highlight-other: var(--color-red);
  --color-highlight-storage: var(--color-purple);
  --color-highlight-object: var(--color-gold);
  --color-highlight-control: var(--color-lavender);
  --color-code-inline-highlight: oklch(28.34% 0.019 274.65 / 80%);
  --color-code-line-highlight: oklch(36.05% 0.019 97.41 / 87.84%);
}

.nuxt-content {
  a {
    @apply text-celeste underline transition duration-300;
  }

  a:hover {
    @apply text-red;
  }

  h1 {
    @apply font-bold text-4xl text-green mt-6;
  }

  h2 {
    @apply font-semibold text-3xl text-green mt-6;
  }

  h3 {
    @apply font-medium text-2xl text-green mt-6;
  }

  h4 {
    @apply font-medium text-xl text-green mt-4;
  }

  h5 {
    @apply font-medium text-lg text-green mt-4;
  }

  h6 {
    @apply font-medium text-base text-green italic mt-4;
  }

  ul {
    @apply list-disc mb-4 ml-6;
  }

  ul code,
  p code {
    @apply inline-block px-1 m-0;

    background-color: var(--color-code-inline-highlight);
  }

  p,
  ul,
  ol,
  div {
    @apply mb-6 mt-6;
  }

  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    @apply mt-2;
  }

  p + ul,
  p + ol {
    @apply mt-2;
  }

  p:has(+ ul),
  p:has(+ ol) {
    @apply mb-2;
  }

  div.positonComponent {
    @apply mb-3;
  }

  div.positionComponent > p,
  div.positionComponent > ul,
  div.positionComponent > div {
    @apply mt-0 mb-3;
  }

  .icon.icon-link {
    content: url('~assets/svg/fas-link.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }

  .footnotes {
    @apply mt-10;
  }

  .footnotes::before {
    @apply block font-semibold text-3xl mt-6 border-steel border-t-1;

    content: 'Notes';
  }

  .footnotes hr {
    display: none;
  }
}

.nuxt-content-highlight {
  @apply relative my-2 sm:mb-4;

  pre {
    @apply overflow-x-auto;
  }

  .filename {
    @apply absolute right-0 text-celeste font-light z-10 mr-2 mt-1 text-sm;
  }

  .line.highlight {
    @apply inline-block w-full;

    background-color: oklch(36.05% 0.019 97.41 / 87.84%);
  }

  code::before {
    counter-reset: linecount;
  }

  code span.line {
    counter-increment: linecount;
  }

  code span.line::before {
    @apply inline-block w-10 text-gray text-right m-0 p-0;

    content: counter(linecount) '. ';
  }

  .nuxt-content-highlight-header {
    @apply mb-0 text-gray text-right pr-2 border-gray border-b-1;

    background-color: var(--color-highlight-background);
  }
}

.nuxt-content-editor {
  @apply bg-black bg-opacity-60;
}

#embed-code {
  .nuxt-content-highlight {
    margin: 0 !important;
    margin-top: 0.5rem !important;
  }
  .nuxt-content-highlight pre {
    @apply h-88 overflow-y-auto;
  }

  .nuxt-content-highlight pre.shiki {
    background-color: transparent !important;
  }
}
